<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration page</title>
</head>
<body>
<h1>Registration form</h1>

<form th:action="@{/auth/registration}" th:object="${user}" th:method="POST" enctype="utf8">
    <div>
        <label for="username">Enter username</label>
        <input th:field="*{username}" id="username"/>
        <p th:each="error: ${#fields.errors('username')}"
           th:text="${error}">Username error</p>
    </div>
    <div>
        <label for="password">Enter password</label>
        <input type="password" value="FakePSW"  th:field="*{password}" id="password"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Password error</p>
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>
