<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h1>Hello Welcome to Users page!</h1>
<div>
  <table>
    <thead>
    <tr>
      <th>User id</th>
      <th>User name</th>
      <th>User password</th>
      <th>User role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userEntity:${users}">
      <td th:text="${userEntity.getId()}"></td>
      <td th:text="${userEntity.getUsername()}"></td>
      <td th:text="${userEntity.getPassword()}"></td>
      <td th:text="${userEntity.getRoles()}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
