<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professors</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h1>Hello Welcome to Professors page!</h1>

<a href="/professor/add">Save new Professor</a>
<br>
<a href="/">Main</a>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Subjects of professor </th>
        <th> Delete</th>
        <th> Update</th>
        <th> Assign subject</th>
        <th> Reassign subject</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="professor:${professors}">
        <td th:text="${professor.getProfessorId()}"></td>
        <td th:text="${professor.getProfessorName()}"></td>
        <td th:text="${professor.getSubjectsAsString()}"></td>
        <td>
            <a th:href="@{/professor/delete(professorId=${professor.getProfessorId()})}">Delete</a>
        </td>
        <td>
            <a th:href="@{/professor/updateForm(professorId=${professor.getProfessorId()})}">Update</a>
        </td>
        <td>
            <a th:href="@{/professor/assignSubject(professorId=${professor.getProfessorId()})}">Assign subject</a>
        </td>
        <td>
            <a th:href="@{/professor/reassignSubject(professorId=${professor.getProfessorId()})}">Reassign subject</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
