<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h1>Hello Welcome to Groups page!</h1>
<div>
    <a href="/group/add">Save new Group</a>
    <br>
    <a href="/">Main</a>
    <table>
        <thead>
        <tr>
            <th>Group id</th>
            <th>Group grade</th>
            <th>Group name</th>
            <th>Group size</th>
            <th>Group Subjects</th>
            <th>Delete</th>
            <th> Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group:${groups}">
            <td th:text="${group.getGroupId()}"></td>
            <td th:text="${group.getGrade()}"></td>
            <td th:text="${group.getGroupName()}"></td>
            <td th:text="${group.getGroupSize()}"></td>
            <td th:text="${group.getSubjectsAsString()}"></td>
            <td>
                <a th:href="@{/group/delete(groupId=${group.getGroupId()})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/group/updateForm(groupId=${group.getGroupId()})}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
