<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h1>Hello Welcome!</h1>
<h1>This is University CMS main page!</h1>

<a style=" margin-left:45%;" href="/groups">Link to Groups list</a>
<a style=" margin-left:45%;" href="/lessons">Link to Lessons list</a>
<a style=" margin-left:45%;" href="/professors">Link to Professors list</a>
<a style=" margin-left:45%;" href="/rooms">Link to Rooms list</a>
<a style=" margin-left:45%;" href="/students">Link to Students list</a>
<a style=" margin-left:45%;" href="/subject/list">Link to Subject list</a>
<a style=" margin-left:45%;" href="/timeslots">Link to Timeslots list</a>
<a style=" margin-left:45%;" href="/auth/get-users">Link to Users list</a>


<form th:action="@{/logout}" method="post" style=" margin-left:45%;">
    <input type="submit" value="Log out">
</form>

</body>
</html>
