<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subject Teacher</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h1>Set teacher to subject!</h1>

<form th:action="@{/subject/setTeacher(subjectId=${subjectId})}"
      method="post">

    <label for="dropDownList">Choose a teacher:</label>
    <select id="dropDownList" >
        <option th:each="professor : ${professors}"
                th:value="${professor}"
                th:text="${professor.getProfessorName()}"></option>
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>
